.battlefield{
    display: flex;
    flex-direction: row;
    width: 60vw;
    margin: auto;
    justify-content: space-between;
    background-color: beige;
    min-height: 250px;
}
.battlfield-container{
    margin-right: 20vw;
    width: 90vw;
    border: 1px solid red;
    min-height: 300px;
    
}
.fight-btn{
    width: 150px;
    height: 100px;
    border-radius: 20%;
    font-weight: 400;
    margin: auto;
    font-size: large;
}
.team-selection{
    width: 80vw;
    margin: auto;
  
}
button{
    margin-left: 10px;
    margin-right: 10px;
}
.battle-result-wrapper{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.team-name-container{
    display: flex;
    justify-content: center;
}

.battlefield-container{
    width: 80vw;
}

