.battlefield{
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: auto;
    justify-content: space-between;
    background-color: beige;
}
.fight-btn{
    width: 150px;
    height: 100px;
    border-radius: 20%;
    font-weight: 400;
    margin: auto;
    font-size: large;
}
.team-selection{
    width: 60vw;
    margin: auto;
}
button{
    margin-left: 10px;
    margin-right: 10px;
}