<div class="card flex-item" style="width: 18rem;" tabindex="0">
    <img src="{{pokemon.image}}" class="card-img-top" loading="lazy" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{pokemon.name}}</h5>
      <p class="card-text">Type:{{parsetype(pokemon.type)}}</p>
       <span class="poke-attr">
        <span class="life"> Life:{{pokemon.life}} </span>
        <span class="power">Power:{{pokemon.power}} </span>
       </span>     
      <a  href="#" class="btn btn-primary">{{!isFavorite?"Add To Favorites":"Remove from Favorites"}}</a>
      <a href="#" class="btn btn-primary" (click)="toggleForm()">{{editButtonText}}</a>
    </div>
    <form [formGroup]="myForm" class="input-group" *ngIf="displayForm" (ngSubmit)="onEdit($event)">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"  id="inputGroup-sizing-sm">Type</span>
            </div>
            <input formControlName="type" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Power</span>
            </div>
            <input formControlName="power" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Life</span>
            </div>
            <input formControlName="life" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <button class="btn btn-primary"  type="submit" [disabled]="myForm.invalid" style="margin: auto;">Submit</button>
    </form>
  </div>